.token {
	font: 18px DejaVu Sans;
	fill: black;
	font-family:sans-serif;
	--wordDistance:10;
} 

.deprel {
	font: 12px Arial;
	fill: #1d2ec1;
	font-style: oblique;
	font-family:sans-serif;
	--funcCurveDist:3; /* distance between the function name and the curves highest point */
} 

.arrowhead {
	fill: white;
	stroke: black;
	stroke-width: .8;
}

.curve {
	stroke: black;
	stroke-width: 1;
	fill: none;
	--startOffset: 8;
	--tokDepDist: 15; /* distance between tokens and depdendency relation */
	--depMinHeight: 15; /* minimum height for dependency */
	--wordDistanceFactor: -1; /* distant words get higher curves. this factor fixes how much higher */
}

.conll {
	display:none; /*toggles to inline*/
	unicode-bidi: embed;
	font-family: monospace;
	white-space: pre;
	margin-bottom: 0.6em;
	border-bottom: 1px solid #aaa;
	padding: 0.5em 0 0.17em 0;
	tab-size: 12;
}

.sentencebox {
	margin-bottom: 0.6em;
	border-bottom: 1px solid #aaa;
	padding: 0.5em 0 0.17em 0;
	margin-top: 1em;
}

.showHideConll {
	-moz-box-shadow:inset 0px 5px 0px -19px #2FA9DF;
	-webkit-box-shadow:inset 0px 5px 0px -19px #2FA9DF;
	box-shadow:inset 0px 5px 0px -19px #2FA9DF;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2FA9DF), color-stop(1, #2FA9DF));
	background:-moz-linear-gradient(top, #2FA9DF 5%, #2FA9DF 100%);
	background:-webkit-linear-gradient(top, #2FA9DF 5%, #2FA9DF 100%);
	background:-o-linear-gradient(top, #2FA9DF 5%, #2FA9DF 100%);
	background:-ms-linear-gradient(top, #2FA9DF 5%, #2FA9DF 100%);
	background:linear-gradient(to bottom, #2FA9DF 5%, #2FA9DF 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2FA9DF', endColorstr='#2FA9DF',GradientType=0);
	background-color:#2FA9DF;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:2px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3577B2;
}
.showHideConll:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5EEBB8), color-stop(1, #5EEBB8));
	background:-moz-linear-gradient(top, #5EEBB8 5%, #5EEBB8 100%);
	background:-webkit-linear-gradient(top, #5EEBB8 5%, #5EEBB8 100%);
	background:-o-linear-gradient(top, #5EEBB8 5%, #5EEBB8 100%);
	background:-ms-linear-gradient(top, #5EEBB8 5%, #5EEBB8 100%);
	background:linear-gradient(to bottom, #5EEBB8 5%, #5EEBB8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5EEBB8', endColorstr='#5EEBB8',GradientType=0);
	background-color:#5EEBB8;
}
.showHideConll:active {
	position:relative;
	/* top:1px; */
}
